<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../Static/img/Logo.ico" sizes="32x32">
  <link rel="icon" href="../Static/img/Logo.jpg" sizes="192x192">
  <!-- Palabras Claves -->
  <meta name="keywords" content="Traslados, Viajes, Comodidad, Servicio, CLIENTES, CONDUCTORES">
  <!-- Descripcion -->
  <meta name="description" content="Servicio y Soluciones de Traslados Alta Gama, Viajes, Turismo, Blindados">
  <title>|| Ciclope Traslados S. A. ||</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../Static/css/style.css">
</head>

<header>
  
  <div class="logo">
    <a href="../index.html">|| Ciclope Traslados S. A. ||</a>
  </div>
</header>

<body class="form-login">
  <form method="post" autocomplete="off">
    <i class="fab" style="padding: 20px;">Bienvenido/a - Crear Cuenta</i>


    <div class="input-group">
      <div class="input-container">
        <input type="text" name="nombre" placeholder="Nombre" required/>
        <i class="fa-solid fa-user"></i>
      </div>

      <div class="input-container">
        <input type="tel" name="phone" placeholder="Teléfono" required/>
        <i class="fa-solid fa-phone"></i>
      </div>

      <div class="input-container">
        <input type="email" name="email" placeholder="Email" required/>
        <i class="fa-solid fa-envelope"></i>
      </div>
      
      <div class="input-container">
        <input type="password" name="password" placeholder="Password" required/>
        <i class="fa-solid fa-lock"></i>
      </div>

      
      <input type="submit" name="send" class="btn-enviar" value="Registrase">


  </form>
    
  
</body>

</html>