<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>|| Ciclope Traslados S. A. | Nosotros ||</title>
  <link rel="stylesheet" href="../Static/css/style.css">
  <link rel="icon" href="../Static/img/Logo.ico" sizes="32x32">
  <link rel="icon" href="Static/img/Logo.jpg" sizes="192x192">

  <!-- Palabras Claves -->
  <meta name="keywords" content="Traslados, Viajes, Comodidad, Servicio, CLIENTES, CONDUCTORES">

  <!-- Descripcion -->
  <meta name="description" content="Servicio y Soluciones de Traslados Alta Gama, Viajes, Turismo, Blindados">

</head>

<body>

  <!-- </header> -->
  <header>

    <!-- nav -->
    <nav class="nav">
      <!-- <div class="logo">
        <a href="index.html"><img src="Static/img/Logo.jpg" alt="" class="img-logo" class></a> || Ciclope Traslados S. A. ||
      </div> -->

      <!-- Logo -->
      <a href="index.html"><img src="../Static/img/Logo.jpg" alt="Imagen Logo" class="img-logo"></a>
      <!-- <img src="Static/img/Logo.jpg" alt="" class="img-logo"> -->

      <div class="logo">
        <a href="index.html">|| Ciclope Traslados S. A. ||</a>
      </div>
      <!-- <img src="Static/img/Logo.jpg" alt="" class="img-logo"> -->

      <!-- Nav Items Link -->
      <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="../Templates/Nosotros.html">Nosotros</a></li>
        <li><a href="Galeria.html">Galeria</a></li>
        <li><a href="../Templates/Contacto.html">Contacto</a></li>
	      <li><a href="../Templates/FormularioIngresar.html">|| Ingresar ||</a></li>
      </ul>

    </nav>


  </header>

  <!-- Main Nosotros -->
  <main>
    <h1><u><i>Nosotros</i></u></h1>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="containerFooter">
      <div class="footer-row">

        <div class="footer-links">
          <h4>Empresa</h4>
          <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Afiliate</a></li>
          </ul>
        </div>

        <div class="footer-links">
          <h4>Ayuda</h4>
          <ul>
            <li><a href="">FAQ</a></li>
            <li><a href="">Consultas</a></li>
            <li><a href="">Contactanos</a></li>
            <li><a href="">Ayudanos</a></li>
          </ul>
        </div>

        <div class="footer-links">
          <h4>Ayuda</h4>
          <ul>
            <li><a href="">FAQ</a></li>
            <li><a href="">Consultas</a></li>
            <li><a href="">Contactanos</a></li>
            <li><a href="">Ayudanos</a></li>
          </ul>
        </div>

      </div>

      <!-- Derechos Marca -->
      <div class="formalidadesMR">
        <p> || Derechos de autor &copy; 2024 - Ciclope S.A. || </p>
      </div>
      
    </div>

  </footer>
</body>

</html>